logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
config/**/*
lib/*
src/services/**/*
tmp/*
daemon
.DS_Store
!config/.githold
!config/servers/.githold
!config/credentials/.githold
!lib/.githold
!logs/.githold
