logs
*.log
node_modules
nbproject
config/**/*
packs/**
.vagrant/
.vscode/**
.DS_Store
.idea/**
src/services/configs/*.json
!src/services/index.js
!config/.githold
!config/servers/.githold
!logs/.githold
